.characters {
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
}

.character {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.characters--order2 {
    order: 1;
}

.characters--image {
    width: 80%;
    max-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.characters--image img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.link-no-style {
    text-decoration: none;
    color: #1e0e62;
}

.characters--image img {
    transition: 0.2s;
    width: 100%;
}

.characters--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.characters--description__name {
    display: flex;
    align-items: baseline;
    column-gap: 20px;
}

.characters--description__name h5 {
    color: rgba(21, 20, 57, 0.6);
    width: 100%;
}

.characters--description__information {
    margin-top: 5px;
    text-align: left;
}

.centeredDescription {
    display: flex;
}

.stormfly {
    position: relative;
    font-weight: bold;
}

.stormfly:hover::after {
    content: "";
    width: 300px;
    height: 300px;
    background: url("/images/stormfly.png") 0 0 no-repeat;
    background-size: 100%;
    margin-top: -175px;
    margin-left: 50px;
    position: absolute;
    display: flex;
}
@media screen and (max-width: 800px) {
    .character {
        grid-template-columns: 100%;
    }

    .characters--order2 {
        order: 0;
    }

    .characters--description {
        margin: 20px 0 40px;
    }
}
