.hero--content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero--content h4 {
  margin-top: 30px;
  max-width: 470px;
}
.hero--content .btn {
  margin-top: 40px;
}

.charactersPreview--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin: 30px 0px;
}
.charactersPreview--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.charactersPreview--card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 25px;
  height: 145px;
}

.charactersPreview--card__image img {
  width: 100%;
  transition: 0.3s;
}

.charactersPreview--card__image:hover > img {
  width: 130%;
}

.charactersPreview h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.infoSection {
  margin: 100px 0px;
}

.infoSection p {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  margin-top: 15px;
}

.viewMore {
  margin-bottom: 50px;
}

.viewMore h2 {
  margin-bottom: 30px;
}

.viewMore--grid {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.viewMore--card {
  padding: 35px;
  border-radius: 10px;
}

.viewMore--card .btn {
  margin-top: 30px;
}

.viewMore--card:nth-child(1) {
  background-color: #ebeaed;
}

.viewMore--card:nth-child(2) {
  border: 2px solid #ebeaed;
}

.viewMore--card:nth-child(3) {
  background-color: var(--accent);
}

.viewMore--card:nth-child(4) {
  background: url("/images/dragon-background.jpg");
}

@media screen and (max-width: 800px) {
  .hero--image {
    width: 120vw;
  }
  .hero--image img {
    height: unset;
    width: 100%;
    margin-right: -200px;
  }
}
