.header__dropdowns {
  display: flex;
  position: absolute;
  align-items: center;
  right: 30px;
  gap: 20px;
}
.header__dropdowns .select {
  width: 200px;
}

.artists {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 0;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.plot {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .header__dropdowns {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: calc(100vw - 100px);
    left: 10px;
    top: 60px;
    display: none;
  }

  #hamburger-icon.open + .header__dropdowns {
    display: flex;
  }

  .artists {
    grid-template-columns: repeat(1, auto);
  }
}
