@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
  --accent: #1e0e62;
  --secondAccent: #25dac5;
}

html {
  scroll-behavior: smooth;
}

body,
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

section {
  text-align: center;
  color: #1e0e62;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  text-align: center;
  color: #1e0e62;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: var(--accent);
}

h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.4px;
  color: var(--accent);
}

h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: var(--accent);
}

h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgba(21, 20, 57, 0.4);
}

h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: rgba(21, 20, 57, 0.4);
}

p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;

  color: rgba(21, 20, 57, 0.4);
}

.column11 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.maxWidthContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 25px;
  box-sizing: border-box;
}

.btn {
  padding: 15px 25px;
  border-radius: 50px;
  background-color: var(--accent);
  color: white;
  transition: 0.3s;
  cursor: pointer;
  border: none;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}
.secondaryBtn {
  background-color: var(--secondAccent);
}
.btn:hover {
  background-color: var(--secondAccent);
}
.secondaryBtn:hover {
  background-color: var(--accent);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}

.whiteBtn {
  background-color: white;
  color: var(--accent);
}

.contrastParagraph {
  color: white;
  font-weight: 500;
}
.contrastHeading {
  color: white;
}

@media screen and (max-width: 800px) {
  .column11 {
    display: flex;
    flex-direction: column;
  }

  .removeOnSmallScreen {
    display: none !important;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .hero--content {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
