nav {
    display: flex;
    padding: 40px 0px 0px 80px;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: rgba(21, 20, 57, 0.6);
}

nav a:hover, a.active {
    text-decoration: underline;
}