video {
    width: 80%;
    border-radius: 15px;
}

article {
    text-align: center;
    color: #1e0e62;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100vw;
    margin: 20px;
}

.rating {
    background-color: lightgray;
    width: 70%;
    max-width: 1000px;
    min-height: 30vh;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.rating p {
    color: black;
}

.rating .columns {
    margin-top: 20px;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.rating .columns .right {
    text-align: left;
}

.rating .columns .left {
    text-align: right;
}

tr, td {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

table {
    min-width: 550px;
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
}

td img {
    width: 100px;
    height: 100%;
    aspect-ratio: 1/1;
}

td.left {
    width: 30%;
}

td.right {
    width: 70%;
}

td a {
    text-decoration: none;
    color: black;
}

td.left a {
    color: red;
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:not(:nth-child(even)) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 800px) {
    table {
        min-width: 1px;
        width: 100%;
    }
    td img {
        display: none;
    }

    tr, td {
        height: 100%;
    }
    td {
        height: 100%;
        border: none;
    }
}