.summary--imageDescription {
    width: 100%;
    max-width: 1200px;
    padding-top: 20px;
}

section.summary {
    padding:10px;
    text-align: center;
    color: #1e0e62;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    text-align: center;
    font-size: large;
}
.top{
    width:90%;
    font-size: larger;
}

.summary--order2 {
    order: 1;
}

.summary--image {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.summary--image img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.summary--image img {
    transition: 0.2s;
    width: 100%;
}

.summary--parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.summary--parts__text {
    display: flex;
    align-items: baseline;
    column-gap: 20px;
    font-size: larger;
}

.summary--parts__text {
    color: rgba(21, 20, 57, 0.6);
    width: 100%;
}

.centeredDescription {
    display: flex;
}


@media screen and (max-width: 800px) {
    .summary {
        grid-template-columns: 100%;
    }

    .summary--order2 {
        order: 0;
    }

    .summary--parts {
        margin: 20px 0 40px;
    }
}